<div align='center'><%= image_tag "discount.jpeg", size: '700x150'%></div>
<div class=col-md-12>
  <%@supermarkets.each do |market| %>
    <div class=col-md-4>
      <% @market=market %>
      <%=render 'discount_at_market', locals: {market: @market}%>
    </div>
  <%end %>
</div>
