<h1 class="prices">Prices</h1>
<div class="col-md-12">
	<%@supermarkets.each do |market| %>
	  <div class="col-md-4"> 
			<%@market = market %>
			<%=render 'shopping_list_per_market', locals: {market: @market}%>
		</div>
	<%end%>	
</div>

  