@import "bootstrap";
// @import "bootswatch/cerulean/bootswatch";


.input-group-addon {
   background-color: #FFFFFF;
   font-size: 0em;
   border: 0px;
}

.container {
   width: 97%;
}

.notification {
	color: blue;
}

h4 {
	color: blue;
	text-align: center
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
   padding:10px;
   padding-bottom:60px;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   background:#ff0;
   padding:10px;
}

.picture {
   text-align: center
}

#footer {
    position: relative;
    bottom: 0;
    display: block;
}


a {
  color: blue;
  font-size: 14pt;
  font-style: italic;
  font-weight: bold;
}



label {
  width:180px;
  display: inline-block;
}

#products_chart {
  width: 700px;
  height: 350px;
}