@import "bootstrap";
// @import "bootswatch/cerulean/bootswatch";


.input-group-addon {
   background-color: #FFFFFF;
   font-size: 0em;
   border: 0px;
}

.container {
   width: 97%;
}

.notification {
	color: blue;
}

h4 {
	color: blue;
	text-align: center
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
   padding:10px;
   padding-bottom:60px;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   background:#ff0;
   padding:10px;
}

.picture {
   text-align: center
}

#footer {
    position: relative;
    bottom: 0;
    display: block;
}

.navbar 
{
    background-image: url("../images/b.jpeg");
    color: white;
    font-size: 14pt;
    
 
}

#markets {
  height: 225px;
  width: 300px;
  background-image: url("../images/notebook.jpeg"); 
  font-size: 16pt;
  text-align: center;
}

a {
  color: blue;
  font-size: 14pt;
  font-style: italic;
  font-weight: bold;
}

#supermarket {
  vertical-align: center;
  margin: 37px;
}

#item {

  vertical-align: center;
  margin: 30px;

}

#shopping_list {
  height: 596px;
  width: 420px;
  background-image: url("../images/yellow.jpg"); 
  text-align: center;
}
