<h1>Products</h1>

<%=render 'search_products'%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="product">
        <td><%= product.name %></td>
        <td><%= image_tag product.image, size: "50x50"%></td>
        <td><%=link_to "Details",product_path(product), id: "Details#{product.id}"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
