<h1>Products</h1>

  <%=render 'search_products'%>
  <%if @products.empty?%>
    <%=render partial: 'make_a_suggestion', object:  @suggestion%>
  <%else%>
    <%=render partial: 'list_products', object:  @products%>
  <%end%>
