<h2><%="Prices for #{@product.name}"%></h2>
<div class="col-md-12">
  <div class="col-md-3",  id='product'>
    <%= image_tag @product.image.url(:thumb)%>
  </div>
  <% @supermarkets.each do |market| %>
    <div class="col-md-3">
      <h4><%= market.name %></h4>
      <ul>
        <% get_prices(market, @pricemeasures).each do |pm| %>  
          <li class="list-group-item"><%= pm.price %></li>
        <% end%>
      </ul>
    </div>
  <% end %>
</div>
