<h2><%="Prices for #{@product.name}"%></h2>
<div><%= image_tag @product.image%></div>
<table>
  <thead>
    <tr>
      <th>Supermarket</th>
    </tr>
  </thead>

  <tbody>
     <tr>
      <% @supermarkets.each do |market| %>
        <td>
          <div>
            <h4><%= market.name %></h4>
              <ul>
                <% get_prices(market, @pricemeasures).each do |pm| %>  
                  <li><%= pm.price %></li>
                <% end%>
               </ul>
          </div>
        </td>
      <% end %>
    </tr>
   
  </tbody>
     
</table>
<br>
